<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="navbar navbar-inverse navbar-fixed-top fodmaps-navbar">
    <a routerLink="/" routerLinkActive="active" class="pull-left fodmaps-logo">
        <img class="logo-img" src="../../Assets/Images/General/Logo/logo@3x.png" alt="logo" height="80" />
    </a>
    <div class="container">
        <div class="navbar-header" style="margin-top:15px;">
            <button #navbarToggler type="button" class="navbar-toggle fodmaps-navbar-button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Ver mais">
                <span class="icon-bar fodmaps-icon-bar"></span>
                <span class="icon-bar fodmaps-icon-bar"></span>
                <span class="icon-bar fodmaps-icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a (click)="goTo('/home/sobre')">Quem somos</a>
                </li>
                <li>
                    <a (click)="goTo('/home/instrucoes')">Instruções</a>
                </li>
                <li>
                    <a (click)="goTo('/questionario/painel')">Questionário</a>
                </li>
                <li>
                    <a (click)="goTo('/home/publicacoes')">Publicações</a>
                </li>
                <li>
                    <a (click)="goTo('/home/apoio')">Material de Apoio</a>
                </li>
                <li class="pull-right" *ngIf="!loggedIn">
                    <a (click)="goTo('/conta/login')">Login</a>
                </li>
                <li class="pull-right" *ngIf="!loggedIn">
                    <a (click)="goTo('/conta/cadastro')">Cadastre-se</a>
                </li>
                <li class="pull-right" *ngIf="loggedIn">
                    <a (click)="goTo('/conta/perfil')">{{ user.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>