<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="container card card-shadow quest-wrapper">
    <div class="row text-center mediaCssFixer" style="margin-top:10px;">
        <aw-wizard #wizard>
            <ng-container *ngFor="let q of questions; let first = first; let last = last; let i = index;">
                <ng-container *ngIf="i < currentIndex">
                    <aw-wizard-step [stepTitle]="100" awOptionalStep>
                        <div class="centered-content">
                            <div class="col-xs-12">
                                <h3>{{q.question}}</h3>
                            </div>
                            <div class="col-xs-12">
                                <img class="question-img" [src]="q.image" />
                            </div>
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <div class="btn-container">
                                    <div class="radio-tile-group">
                                        <div class="input-container" *ngFor="let value of questionValues;">
                                            <input [ngClass]="{'checked':selectedRadio === value}" class="radio-button" type="radio" name="radiogroup"
                                                   [(ngModel)]="selectedRadio"
                                                   [value]="value"
                                                   (change)="onRadioChange(value, q)">
                                            <div class="radio-tile">
                                                <label for="quest-{{value}}" class="radio-tile-label">{{value}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <div class="button dropdown">
                                    <select [(ngModel)]='optionSelected' (ngModelChange)='onSelectChange()'>
                                        <option value="dia">vezes por Dia</option>
                                        <option value="semana">vezes por Semana</option>
                                        <option value="mes">vezes por Mês</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn-control previous" (click)="previous()" [awGoToStep]="{stepIndex: currentStep - 1}" *ngIf="!first">Voltar</button>
                                <button type="button" class="btn-control next" (click)="next()" [awGoToStep]="{stepIndex: currentStep + 1}" *ngIf="!last">Continuar</button>
                                <button type="button" class="btn-control next" (click)="save()" *ngIf="last">Finalizar</button>
                            </div>
                        </div>
                    </aw-wizard-step>
                </ng-container>
                <ng-container *ngIf="i >= currentIndex">
                    <aw-wizard-step [stepTitle]="100">
                        <div class="centered-content">
                            <div class="col-xs-12">
                                <h3>{{q.question}}</h3>
                            </div>
                            <div class="col-xs-12">
                                <img class="question-img" [src]="q.image" />
                            </div>
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <div class="btn-container">
                                    <div class="radio-tile-group">
                                        <div class="input-container" *ngFor="let value of questionValues;">
                                            <input [ngClass]="{'checked':selectedRadio === value}" class="radio-button" type="radio" name="radiogroup"
                                                   [(ngModel)]="selectedRadio"
                                                   [value]="value"
                                                   (change)="onRadioChange(value, q)">
                                            <div class="radio-tile">
                                                <label for="quest-{{value}}" class="radio-tile-label">{{value}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <div class="button dropdown">
                                    <select [(ngModel)]='optionSelected' (ngModelChange)='onSelectChange()'>
                                        <option value="dia">vezes por Dia</option>
                                        <option value="semana">vezes por Semana</option>
                                        <option value="mes">vezes por Mês</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn-control previous" (click)="previous()" [awGoToStep]="{stepIndex: i - 1}" *ngIf="!first">Voltar</button>
                                <button type="button" class="btn-control next" (click)="next()" [awGoToStep]="{stepIndex: i + 1}" *ngIf="!last">Continuar</button>
                                <button type="button" class="btn-control next" (click)="save()" *ngIf="last">Finalizar</button>
                            </div>
                        </div>
                    </aw-wizard-step>
                </ng-container>

            </ng-container>
        </aw-wizard>
    </div>
</div>
