// Global Colors
$main: #4285f4;
$black: #212121 ;
$gray: #c7c7c7;
$dark-gray: #757575 ;
$red-error: #d71a1a;


$borderRadius: '12px';


// Admin Page
$orange: #bf5a11;
$navy-blue:#1c429d;
$red:#ce1212;
$yellow:#dadc14;
$green: #75c181;
//Delete
/*$green: #1ECD97;*/
/*$green-constrast: #0B6544;*/